p{
    text-shadow: 1px 1px #111111;
    color: white;
    font-size: 20px;
    text-align: justify;
    text-decoration: none;
    line-height: 25px;
    font-family: Arial;
    text-indent: 1.5em;
}

body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}


h2{
    color: white;
    text-shadow: 1px 1px #111111;
    text-align: left;
    font-family: Arial;
}

/*IDs*/
#div_esquerda{
    background-color: red;
    height: 200px;
    width: 60%;
    float: left;
}

#div_direita{
    background-color: yellow;
    min-height: 200px;
    width: 40%;
    float: right;
}

#principal{
    /*background-image: url(ola.jpg);*/
    clear: both;
    background-size: 100%;
    margin: 30px;
    padding: 30px;
    position: relative;
}

#logo{
    float: left;
    margin:0 auto;
    padding: 15px;
}

#logo1{
    float: right;
    margin:0 auto;
    padding: 15px;
}

#logo1 img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#menu{
    float: right;
    margin-top: 30px;
    width: 200px;
    height: 100px;
    overflow: hidden;
    padding: 0px;
}

#menu a{
    text-decoration: none;
    color: #1111;
    text-shadow: 1px 1px 1px #111111;
}

#menu a:hover{
    /* background-color:35b8b0; */
    color:black;
}

/*Class*/

.container{
    width: 960px;
    margin:0 auto;
}

